<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/front/common :: autoHead">
</head>

<body class="theme-light" data-highlight="highlight-red"
	data-gradient="body-default">


	<th:block th:replace="fragments/front/common :: autoLoader"></th:block>
	<th:block th:replace="fragments/front/common :: autoFooterMenu"></th:block>

	<div id="page" class="container">
		<th:block th:replace="fragments/front/common :: autoHeaderMenu"></th:block>
		<div class="page-content header-clear-medium">
			<div class="card card-style preload-img"
				data-src="/front/images/pictures/18.jpg" data-card-height="130">
				<div class="card-center ms-3">
					<h1 class="color-white mb-0">발주하기</h1>
					<p class="color-white mt-n1 mb-0">발주에 대한 정보 입력 후 확정할 수 있습니다.</p>
				</div>
				<div class="card-center me-3">
					<a href="/index"
						class="btn btn-m float-end rounded-xl shadow-xl text-uppercase font-800 bg-highlight">홈</a>
				</div>
				<div class="card-overlay bg-black opacity-80"></div>
			</div>
			<div class="card card-style">
				<div class="content" id="orderContainer">
					<!-- 제품 정보는 JavaScript에서 동적으로 추가됩니다. -->
				</div>
			</div>

			<div class="card card-style">
				<div class="content">
					<div class="payment-check-container">
						<div class="payment-title">
							<div>
								<h2 class="mb-0">결제 정보 확인</h2>
								<p>배송 주소를 정확하게 확인 해 주시기 바랍니다.</p>
							</div>
							<div class="same-address">
								<input class="form-check-input" type="checkbox"
									id="same-address" /> <label for="same-address">회원 주소랑
									동일</label>
							</div>
						</div>

						<div class="payment-inputs">
							<div class="input-group">
								<input type="text" placeholder="주소" />
								<button type="button">주소검색</button>
							</div>
							<div class="input-group">
								<input type="text" placeholder="상세주소" />
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="card card-style">
				<div class="content mb-2">
					<h3>포인트사용</h3>
					<p class="mb-0">보유중이신 포인트를 사용 하시겠습니까? (보유 포인트 : 10,000)</p>
					<div class="row">
						<div class="align-self-center w-100">
							<div class="input-style has-borders validate-field mt-3 input-group">
								<input type="number" id="point-input"
									class="form-control validate-name"
									placeholder="사용하실 포인트를 입력 해 주세요."> <label for="form1"
									class="color-highlight">ENTER POINTs</label> <i
									class="fa fa-times disabled invalid color-red-dark"></i> <i
									class="fa fa-check disabled valid color-green-dark"></i>
									<button id="apply-button" class="point-btn" type="button">적용</button>
									<button id="cancel-button" class="point-btn" type="button">취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card card-style">
				<div class="content">
					<div class="d-flex mb-0">
						<div>
							<p class="mb-0">총 금액</p>
						</div>
						<div class="ms-auto">
							<h5 id="total-amount">123,000 원</h5>
							<!-- 총 금액 -->
						</div>
					</div>
					<div class="d-flex mb-2">
						<div>
							<p class="mb-0">포인트 사용</p>
						</div>
						<div class="ms-auto">
							<h5 id="point-usage">0 원</h5>
							<!-- 포인트 사용 금액 -->
						</div>
					</div>
					<div class="d-flex mb-3">
						<div>
							<h4 class="font-700">최종 금액</h4>
						</div>
						<div class="ms-auto">
							<h3 id="final-amount">118,000 원</h3>
							<!-- 최종 금액 -->
						</div>
					</div>
					<div class="divider"></div>
					<a href="" class="btn btn-full btn-m text-uppercase font-800 rounded-sm">발주하기</a>
				</div>
			</div>

			<th:block th:replace="fragments/front/common :: autoBottomMenu"></th:block>
		</div>
	</div>
	<th:block th:replace="fragments/front/common :: autoSideBar"></th:block>
	<th:block th:replace="fragments/front/common :: autoScript"></th:block>
	<script src="/front/orderConfirm.js"></script>
</body>

</html>