<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/front/common :: autoHead">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">


	<th:block th:replace="fragments/front/common :: autoLoader"></th:block>
	<th:block th:replace="fragments/front/common :: autoFooterMenu"></th:block>

	<div id="page" class="container">
		<th:block th:replace="fragments/front/common :: autoHeaderMenu"></th:block>
		<div class="page-content header-clear-medium">
			<div class="card card-style preload-img" data-src="/front/images/pictures/18.jpg" data-card-height="130">
				<div class="card-center ms-3">
					<h1 class="color-white mb-0">즐겨찾기</h1>
					<p class="color-white mt-n1 mb-0">즐겨찾기해둔 제품을 빠르게 발주진행할 수 있습니다.</p>
				</div>
				<div class="card-center me-3">
					<a href="/index" data-back-button
						class="btn btn-m float-end rounded-xl shadow-xl text-uppercase font-800 bg-highlight">홈</a>
				</div>
				<div class="card-overlay bg-black opacity-80"></div>
			</div>

			<div class="content">
				<div class="row">
					<div class="row">
						<th:block th:each="mark, stat : ${markList}">
							<div class="col-3" style="padding-left:0px; padding-right:0px;">
								<div class="card card-style mx-0">
									<div class="content mt-3">
										<div>
											<th:block th:each="entry : ${localizedOptionMapList[__${stat.index}__]}">
												<span class="d-block color-theme font-12"
													th:text="${entry.key} + ' : ' + ${entry.value}">옵션 : 값</span>
											</th:block>
										</div>
										<div class="divider mt-3 mb-3"></div>
										<div class="row mb-0">
											<div class="col-12 ps-1 pe-1">
												<a th:href="@{/nonStandardOrderProduct(markId=${mark.id})}"
													class="btn btn-m btn-full mb-3 rounded-0 text-uppercase font-900 border-green-dark color-green-dark bg-theme">
													주문완료하기
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
		<th:block th:replace="fragments/front/common :: autoBottomMenu"></th:block>
	</div>
	<th:block th:replace="fragments/front/common :: autoSideBar"></th:block>
	<th:block th:replace="fragments/front/common :: autoScript"></th:block>

</body>

</html>