<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/front/common :: autoHead}">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">


	<th:block th:replace="~{fragments/front/common :: autoLoader}"></th:block>
	<th:block th:replace="~{fragments/front/common :: autoFooterMenu}"></th:block>

	<div id="page" class="container">
		<th:block th:replace="~{fragments/front/common :: autoHeaderMenu}"></th:block>
		<div class="page-content header-clear-medium" style="padding-top:0px !important;">

			<div class="card card-style" style="border-radius: 0px !important;">
				<div class="chat-container" id="chat-container">
					<div class="d-flex">
						<div class="input-style has-borders no-icon mb-3 col-lg-4 p-0">
							<select>
								<option value="default" disabled="" selected="">제품 분류 선택</option>
								<option value="iOS">상부장</option>
								<option value="Linux">하부장</option>
								<option value="MacOS">슬라이드장</option>
								<option value="Android">거울</option>
								<option value="Windows">플랩장</option>
							</select>
						</div>
						<div class="input-style has-borders no-icon mb-3 col-lg-4 p-0">
							<select>
								<option value="default" disabled="" selected="">제품 중분류 선택</option>
								<option value="iOS">중분류</option>
								<option value="Linux">중분류</option>
								<option value="MacOS">중분류</option>
								<option value="Android">중분류</option>
								<option value="Windows">중분류</option>
							</select>
						</div>
						<div class="search-box has-borders search-header bg-theme mb-3 col-lg-4">
							<i class="fa fa-search"></i>
							<input type="text" class="border-0" placeholder="제품명을 검색 해 주세요." data-search=""
								data-listener-added_01756997="true">
							<a href="#" class="clear-search mt-0 disabled"><i
									class="fa fa-times color-red-dark"></i></a>
						</div>
					</div>
					<div class="chat-box" id="chat-box">
						<div class="search-page">

							<div class="search-results disabled-search-list">
								<div class="content">
									<!-- 상부장 -->
									<div data-filter-item data-filter-name="상부장 벽부착형 01" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>상부장 | 벽부착형 01</h1>
										<p>깔끔한 벽걸이형 상부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="상부장 수납형 02" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>상부장 | 수납형 02</h1>
										<p>실용적인 수납공간을 제공하는 상부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="상부장 모던화이트 03" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>상부장 | 모던화이트 03</h1>
										<p>모던한 화이트톤의 상부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="상부장 클래식우드 04" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>상부장 | 클래식우드 04</h1>
										<p>고급스러운 원목 느낌의 상부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="상부장 슬림형 05" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>상부장 | 슬림형 05</h1>
										<p>좁은 공간에 적합한 슬림형 상부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>

									<!-- 하부장 -->
									<div data-filter-item data-filter-name="하부장 수납형 01" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>하부장 | 수납형 01</h1>
										<p>넉넉한 수납공간이 있는 기본 하부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="하부장 세면기일체형 02" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>하부장 | 세면기일체형 02</h1>
										<p>세면대와 일체형으로 구성된 하부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="하부장 블랙메탈 03" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>하부장 | 블랙메탈 03</h1>
										<p>모던한 블랙톤의 고급스러운 하부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="하부장 오크원목 04" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>하부장 | 오크원목 04</h1>
										<p>자연스러운 오크 원목 질감의 하부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="하부장 도어형 05" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>하부장 | 도어형 05</h1>
										<p>여닫는 도어 방식의 기본형 하부장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>

									<!-- 슬라이드장 -->
									<div data-filter-item data-filter-name="슬라이드장 유리슬라이드 01" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>슬라이드장 | 유리슬라이드 01</h1>
										<p>투명 유리 도어를 사용한 슬라이드장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="슬라이드장 알루미늄 02" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>슬라이드장 | 알루미늄 02</h1>
										<p>가볍고 튼튼한 알루미늄 프레임 슬라이드장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="슬라이드장 블랙글라스 03" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>슬라이드장 | 블랙글라스 03</h1>
										<p>고급 블랙 글라스 도어가 특징인 제품입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="슬라이드장 듀얼레일 04" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>슬라이드장 | 듀얼레일 04</h1>
										<p>양방향으로 열리는 듀얼 레일 구조입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="슬라이드장 프레임리스 05" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>슬라이드장 | 프레임리스 05</h1>
										<p>프레임이 없어 깔끔한 디자인의 제품입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>

									<!-- 거울 -->
									<div data-filter-item data-filter-name="거울 원형거울 01" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>거울 | 원형거울 01</h1>
										<p>곡선이 아름다운 원형 벽걸이 거울입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="거울 직사각형 02" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>거울 | 직사각형 02</h1>
										<p>기본형 직사각형 거울입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="거울 LED조명형 03" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>거울 | LED조명형 03</h1>
										<p>LED 조명이 내장된 기능성 거울입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="거울 수납형거울 04" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>거울 | 수납형거울 04</h1>
										<p>거울 안에 수납 공간이 포함된 제품입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="거울 라운드테두리 05" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>거울 | 라운드테두리 05</h1>
										<p>라운드 프레임이 돋보이는 감각적인 거울입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>

									<!-- 플랩장 -->
									<div data-filter-item data-filter-name="플랩장 상단오픈형 01" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>플랩장 | 상단오픈형 01</h1>
										<p>상단을 위로 여는 구조의 플랩장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="플랩장 소프트클로징 02" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>플랩장 | 소프트클로징 02</h1>
										<p>부드럽게 닫히는 소프트클로징 기능이 탑재된 제품입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="플랩장 프레임리스 03" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>플랩장 | 프레임리스 03</h1>
										<p>프레임이 없는 세련된 외관의 플랩장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="플랩장 강화유리 04" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>플랩장 | 강화유리 04</h1>
										<p>강화유리 재질로 튼튼하고 안전한 플랩장입니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>
									<div data-filter-item data-filter-name="플랩장 하프오픈 05" class="search-result-list">
										<img class="shadow-l preload-img" src="/front/images/1.png"
											data-src="/front/images/1.png" alt="img">
										<h1>플랩장 | 하프오픈 05</h1>
										<p>절반만 개방되는 구조로 공간 활용에 좋습니다.</p>
										<a href="#" class="bg-highlight">제품선택</a>
									</div>


									<div class="search-no-results disabled">
										<h3 class="bold top-10">검색 결과가 없습니다.</h3>
										<span class="under-heading font-11 opacity-70 color-theme">
											입력하신 사항과 일치하는 제품이 존재하지 않습니다.
										</span>
									</div>
								</div>
							</div>
							<div class="search-trending">
								<div class="content mb-2">
									<h3>규격제품 주문 페이지</h3>
									<p class="font-11 mt-n2">원하는 제품 선택 후 옵션 선택 페이지로 이동합니다.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<th:block th:replace="~{fragments/front/common :: autoBottomMenu}"></th:block>
	</div>
	<th:block th:replace="~{fragments/front/common :: autoSideBar}"></th:block>
	<th:block th:replace="~{fragments/front/common :: autoScript}"></th:block>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
</body>

</html>