<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/front/common :: autoHead">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">


	<th:block th:replace="fragments/front/common :: autoLoader"></th:block>
	<th:block th:replace="fragments/front/common :: autoFooterMenu"></th:block>

	<div id="page" class="container">
		<th:block th:replace="fragments/front/common :: autoHeaderMenu"></th:block>
		<div class="page-content header-clear-medium">
			<div class="card card-style preload-img" data-src="/front/images/pictures/18.jpg" data-card-height="130">
				<div class="card-center ms-3">
					<h1 class="color-white mb-0">발주 리스트</h1>
					<p class="color-white mt-n1 mb-0">발주를 통해 진행된 업무 현황을 파악할 수 있습니다.</p>
				</div>
				<div class="card-center me-3">
					<a href="/index" data-back-button
						class="btn btn-m float-end rounded-xl shadow-xl text-uppercase font-800 bg-highlight">홈</a>
				</div>
				<div class="card-overlay bg-black opacity-80"></div>
			</div>
			<!-- 날짜 필터 -->
			<div class="card card-style">
				<div class="content mb-0">
					<form method="get" th:action="@{/customer/taskList}" class="row">
						<div class="row">
							<div class="input-style no-borders has-icon mt-1 col-6">
								<input type="date" name="startDate" th:value="${startDate}"
									class="form-control validate-text">
							</div>
							<div class="input-style no-borders has-icon mt-1 col-6">
								<input type="date" class="form-control" name="endDate" th:value="${endDate}">
								<button type="submit">검색</button>
							</div>

						</div>
					</form>
				</div>
			</div>

			<div class="card card-style" th:each="task : ${taskPage.content}">
				<a th:href="@{'/customer/taskDetail/' + ${task.id}}">
					<div class="content">
						<h3 class="mb-1" th:text="'TASK-' + ${task.id}">TASK TITLE</h3>
						<p class="font-11 mt-n2 mb-0 opacity-50">제품 발주</p>
						<div class="row mb-n2 color-theme">
							<div class="col-6 font-10 text-start">
								<span class="badge bg-black color-white font-10 mt-2">발주</span>
								<span class="badge bg-black color-white font-10 mt-2"
									th:text="${task.status}">처리상태</span>
							</div>
							<div class="col-6 font-10 text-end opacity-30">
								<i class="fa fa-calendar pe-2"></i>
								<span th:text="${#temporals.format(task.createdAt, 'yyyy.MM.dd')}"></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="pagination pagination-style-1 d-flex justify-content-center mt-4">
				<ul class="pagination">

					<!-- FIRST -->
					<li class="page-item" th:classappend="${taskPage.first} ? 'disabled'">
						<a class="page-link"
							th:href="@{${pageableUrl}(page=0, startDate=${startDate}, endDate=${endDate})}">FIRST</a>
					</li>

					<!-- PREVIOUS -->
					<li class="page-item" th:classappend="${taskPage.hasPrevious()} ? '' : 'disabled'">
						<a class="page-link"
							th:href="@{${pageableUrl}(page=${taskPage.number - 1}, startDate=${startDate}, endDate=${endDate})}">
							PREVIOUS
						</a>
					</li>

					<!-- PAGE NUMBERS -->
					<li class="page-item" th:each="i : ${#numbers.sequence(0, taskPage.totalPages - 1)}"
						th:classappend="${taskPage.number == i} ? 'active'">
						<a class="page-link"
							th:href="@{${pageableUrl}(page=${i}, startDate=${startDate}, endDate=${endDate})}"
							th:text="${i + 1}">1</a>
					</li>

					<!-- NEXT -->
					<li class="page-item" th:classappend="${taskPage.hasNext()} ? '' : 'disabled'">
						<a class="page-link"
							th:href="@{${pageableUrl}(page=${taskPage.number + 1}, startDate=${startDate}, endDate=${endDate})}">
							NEXT
						</a>
					</li>

					<!-- LAST -->
					<li class="page-item" th:classappend="${taskPage.last} ? 'disabled'">
						<a class="page-link"
							th:href="@{${pageableUrl}(page=${taskPage.totalPages - 1}, startDate=${startDate}, endDate=${endDate})}">
							LAST
						</a>
					</li>
				</ul>
			</div>
		</div>
		<th:block th:replace="fragments/front/common :: autoBottomMenu"></th:block>
	</div>
	<th:block th:replace="fragments/front/common :: autoSideBar"></th:block>
	<th:block th:replace="fragments/front/common :: autoScript"></th:block>

</body>

</html>