<!DOCTYPE HTML>
<html lang="ko" 
xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="autoHead">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
	<title>AUTO TASK</title>
	<link
		href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap"
		rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/front/app/icons/icon-192x192.png">
	<link rel="stylesheet" type="text/css" href="/front/styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/front/styles/style.css">
	<link rel="stylesheet" type="text/css" href="/front/fonts/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="/front/styles/detail.css">
	<link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
	<script src="https://kit.fontawesome.com/e5334cc6a1.js" crossorigin="anonymous"></script>
</head>

<th:block th:fragment="autoLoader">
	<div id="preloader">
		<div class="spinner-border color-highlight" role="status"></div>
	</div>
</th:block>
<th:block th:fragment="autoFooterMenu">
	<div id="footer-bar" class="footer-bar-1">
		<a href="/index"><i class="fa fa-home"></i><span>홈</span></a>
		<a href="#" data-menu="bottombar-task"><i class="fa-solid fa-list-check"></i><span>업무관리</span></a>
		<a href="#" data-menu="bottombar-order"><i
				class="fa-brands fa-product-hunt"></i><span>발주관리</span></a>
		<a href="#" data-menu="bottombar-as"><i class="fa-solid fa-screwdriver-wrench"></i><span>AS관리</span></a>
		<a href="#" data-menu="bottombar-account"><i class="fa-solid fa-id-card"></i><span>계정관리</span></a>
		<a href="/search"><i class="fa fa-search"></i><span>제품검색</span></a>
	</div>
</th:block>
<th:block th:fragment="autoHeaderMenu">
	<div class="header header-demo header-logo-center mb-3">
		<a href="#" class="header-icon header-icon-1"><i class="fas font-18 fa-arrow-left"></i></a>
		<a href="/index" class="header-logo">HIDDEN BATH</a>
		<div id="header-icon-4-group">
			<a class="header-icon header-icon-4" data-menu="menu-sidebar-left-4" href="#">
				<i class="font-18 fas fa-bars"></i>
			</a>
			<a class="header-icon header-icon-3" href="/cart">
				<i id="bag-icon" class="font-18 fa-solid fa-bag-shopping"></i><span id="cart-product-amount">1</span>
			</a>
		</div>
	</div>
</th:block>
<th:block th:fragment="autoScript">
	<script type="text/javascript" src="/front/scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/front/scripts/custom.js"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="/front/scripts/script.js"></script>
	<script src="/front/cart.js" type="module"></script>
	<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        // 로그인 여부를 Spring Security를 통해 설정
        var isGuest = /*[[${#authentication.principal == null}]]*/ true;
        /*]]>*/
    </script>
	<script src="/front/socket.js"></script>
</th:block>
<th:block th:fragment="autoBottomMenu">
	<div id="bottombar-account" class="menu menu-box-bottom menu-box-detached">
		<div class="divider divider-margins mb-n2"></div>
		<div class="content">
			<div class="list-group list-custom-large">
				<a href="/memberList">
					<span>직원리스트</span>
					<strong>직원에 대한 관리 기능을 제공합니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/account">
					<span>계정정보</span>
					<strong>내 계정 정보를 확인할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
	<div id="bottombar-order" class="menu menu-box-bottom menu-box-detached">
		<div class="divider divider-margins mb-n2"></div>
		<div class="content">
			<div class="list-group list-custom-large">
				<a href="/standardOrderProduct">
					<span>규격 제품발주</span>
					<strong>내가 원하는 형태의 제품을 주문할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/nonStandardOrderProduct">
					<span>비규격 제품발주</span>
					<strong>내가 원하는 형태의 제품을 주문할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/productMark">
					<span>즐겨찾기</span>
					<strong>즐겨찾기 해둔 제품을 빠르게 발주할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/cart">
					<span>장바구니</span>
					<strong>진행중인 발주 현황을 빠르게 확인할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
	<div id="bottombar-as" class="menu menu-box-bottom menu-box-detached">
		<div class="divider divider-margins mb-n2"></div>
		<div class="content">
			<div class="list-group list-custom-large">
				<a href="#">
					<span>AS신청</span>
					<strong>AS를 신청할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="#">
					<span>AS 내역확인</span>
					<strong>신청한 AS의 처리 내용을 확인할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
	<div id="bottombar-task" class="menu menu-box-bottom menu-box-detached">
		<div class="divider divider-margins mb-n2"></div>
		<div class="content">
			<div class="list-group list-custom-large">
				<a href="#">
					<span>DP용 제품 발주</span>
					<strong>매장 DP용 제품 발주를 신청할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/taskList">
					<span>업무 관리</span>
					<strong>히든바스 AUTO TASK를 통해 진행된 업무 현황을 파악할 수 있습니다.</strong>
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</th:block>
<th:block th:fragment="autoSideBar">
	<div id="menu-sidebar-left-4" class="bg-white menu menu-box-left" data-menu-width="310">
		<div class="d-flex">
			<a href="#" class="flex-fill icon icon-m text-center color-facebook border-right"><i
					class="fab font-12 fa-facebook-f"></i></a>
			<a href="#" class="flex-fill icon icon-m text-center color-instagram border-right"><i
					class="fab font-12 fa-instagram"></i></a>
		</div>
		<div class="divider mb-3"></div>
		<div class="ps-3 pe-3 pt-2 mb-4">
			<div class="d-flex">
				<div class="flex-grow-1 align-self-center ps-2">
					<h1 class="font-20 font-700 mb-0">김환</h1>
					<p class="mt-n2 mb-0 font-10 font-400">김환 타일 대리점</p>
				</div>
			</div>
		</div>

		<div class="divider divider-margins mb-0"></div>

		<div class="me-3 ms-3">
			<div class="list-group list-custom-small list-icon-0">
				<a href="/index">
					<i class="fa font-14 fa-star color-yellow-dark"></i>
					<span>메인</span>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/taskList">
					<i class="fa font-14 fa-cog color-blue-dark"></i>
					<span>업무관리</span>
					<span class="badge bg-red-dark">NEW</span>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/standardOrderProduct">
					<i class="fa font-14 fa-file color-brown-dark"></i>
					<span>규격제품발주</span>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/nonStandardOrderProduct">
					<i class="fa font-14 fa-file color-brown-dark"></i>
					<span>비규격제품발주</span>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="#">
					<i class="fa font-14 fa-camera color-green-dark"></i>
					<span>AS접수</span>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="#" class="border-0">
					<i class="fa font-14 fa-image color-teal-dark"></i>
					<span>문의하기</span>
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>

		<div class="me-3 ms-3 mt-4">
			<span class="text-uppercase font-900 font-11 opacity-30">페이지</span>
			<div class="list-group list-custom-small list-icon-0">
				<a href="/signin">
					<i class="fa font-14 fa-cog color-brown-dark"></i>
					<span>로그인</span>
					<i class="fa fa-link"></i>
				</a>
				<a href="/signup">
					<i class="fa font-14 fa-cog color-brown-dark"></i>
					<span>회원가입</span>
					<i class="fa fa-link"></i>
				</a>
			</div>
		</div>

		<div class="me-3 ms-3 mt-4 pt-2">
			<span class="text-uppercase font-900 font-11 opacity-30">계정관리</span>
			<div class="list-group list-custom-small list-icon-0">
				<a href="/account">
					<i class="fa font-14 fa-cog color-brown-dark"></i>
					<span>계정</span>
					<i class="fa fa-angle-right"></i>
				</a>
				<a href="/memberList" class="border-0">
					<i class="fa font-14 fa-cog color-brown-dark"></i>
					<span>직원관리</span>
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="autoFooter">
	<div class="footer">
		<div class="text-center mb-3">
			<a href="#" class="icon icon-xs rounded-sm shadow-l me-1 bg-facebook"><i class="fab fa-facebook-f"></i></a>
			<a href="#" class="icon icon-xs rounded-sm shadow-l me-1 bg-instagram"><i class="fab fa-instagram"></i></a>
			<a href="#" class="icon icon-xs rounded-sm shadow-l me-1 bg-phone"><i class="fa fa-phone"></i></a>
			<a href="#" class="back-to-top icon icon-xs rounded-sm shadow-l bg-dark-light"><i
					class="fa fa-angle-up"></i></a>
		</div>
		<p class="footer-copyright">Copyright &copy; Enabled <span id="copyright-year"></span>. All Rights Reserved.</p>
		<p class="footer-links"><a href="#">Privacy Policy</a> | <a href="#">Terms and Conditions</a> | <a href="#"
				class="back-to-top color-highlight"> Back to Top</a></p>
		<div class="clear"></div>
	</div>
</th:block>