<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/front/common :: autoHead">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">


	<th:block th:replace="fragments/front/common :: autoLoader"></th:block>
	<th:block th:replace="fragments/front/common :: autoFooterMenu"></th:block>

	<div id="page" class="container">
		<th:block th:replace="fragments/front/common :: autoHeaderMenu"></th:block>

		<div class="page-content header-clear-medium sign">
			<div class="sign-wrap">
				<div class="ps-5 pe-5">
					<h1 class="text-center font-800 font-40 mb-5">가맹점 로그인</h1>

					<div class="input-style no-borders has-icon">
						<i class="fa fa-user"></i>
						<input type="text" class="form-control" placeholder="아이디를 입력 해 주세요.">
						<label class="color-blue-dark font-10 mt-1">USERNAME</label>
						<em>(required)</em>
					</div>

					<div class="input-style no-borders has-icon mt-4">
						<i class="fa fa-lock"></i>
						<input type="password" class="form-control"
							placeholder="비밀번호를 입력 해 주세요.">
						<label class="color-blue-dark font-10 mt-1">PASSWORD</label>
						<em>(required)</em>
					</div>

					<div class="d-flex mt-4 mb-4">
						<div class="w-50 font-11 pb-2 text-start"><a href="#">회원가입</a>
						</div>
						<div class="w-50 font-11 pb-2 text-end"><a href="#">비밀번호 찾기</a> / <a href="#">아이디 찾기</a>
						</div>
					</div>

					<a href="#"
						class="back-button btn btn-full btn-m shadow-large rounded-sm text-uppercase font-700 bg-highlight">LOGIN</a>
				</div>
			</div>
		</div>
		<th:block th:replace="fragments/front/common :: autoBottomMenu"></th:block>
	</div>
	<th:block th:replace="fragments/front/common :: autoSideBar"></th:block>
	<th:block th:replace="fragments/front/common :: autoScript"></th:block>
</body>