<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="~{fragments/administration/common :: autoAdminHead}">
</head>

<body class="twocolumn-panel">

	<!-- Begin page -->
	<div id="layout-wrapper">

		<header th:replace="~{fragments/administration/common :: autoAdminHeader}"></header>

		<div th:replace="~{fragments/administration/common :: autoAdminModal}"></div>
		<div th:replace="~{fragments/administration/common :: autoAdminSideMenu}"></div>
		<div class="vertical-overlay"></div>
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">
					<!-- start page title -->
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">대리점관리</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">대리점관리</a></li>
										<li class="breadcrumb-item active">대리점리스트</li>
									</ol>
								</div>

							</div>
						</div>
					</div>
					<!-- end page title -->
					<div class="row">
						<div class="col-lg-12">
							<div class="card" id="tasksList">
								<div class="card-header border-0">
									<div class="d-flex align-items-center">
										<h5 class="card-title mb-0 flex-grow-1">CUSTOMER MANAGER</h5>
										<div class="flex-shrink-0">
											<div class="d-flex flex-wrap gap-2">
												<button onclick="javascript:location.href='/normalOrderInsert'"
													class="btn btn-warning add-btn"><i class="fa-solid fa-plus"></i>
													Excel</button>
											</div>
										</div>
									</div>
								</div>
								<!-- 검색 폼 -->
								<div class="card-body border border-dashed border-end-0 border-start-0">
									<form method="get" action="/management/clientList">
										<div class="row g-3">
											<div class="col-md-3">
												<label class="form-label">검색조건</label>
												<select class="form-select" name="searchType">
													<option th:value="company" th:selected="${searchType == 'company'}">
														대리점명</option>
													<option th:value="member" th:selected="${searchType == 'member'}">
														직원이름</option>
												</select>
											</div>
											<div class="col-md-3">
												<label class="form-label">검색어</label>
												<input type="text" class="form-control bg-light border-light"
													name="keyword" th:value="${keyword}" placeholder="검색어를 입력 해 주세요.">
											</div>
											<div class="col-md-3">
												<label class="form-label">조회</label>
												<button type="submit" class="btn btn-primary w-100">
													<i class="fa-solid fa-magnifying-glass"></i> 검색
												</button>
											</div>
										</div>
									</form>
								</div>

								<!--end card-body-->
								<div class="card-body">
									<div class="table-responsive table-card mb-4">
										<table class="table align-middle table-nowrap mb-0" id="tasksTable">
											<thead class="table-light text-muted">
												<tr>
													<th scope="col" style="width: 40px;">
														<div class="form-check">
															<input class="form-check-input" type="checkbox"
																id="checkAll" value="option">
														</div>
													</th>
													<th class="sort">ID</th>
													<th class="sort">대리점명</th>
													<th class="sort">대표자명</th>
													<th class="sort">가입일</th>
													<th class="sort">담당영업사원</th>
													<th class="sort">직원수</th>
												</tr>
											</thead>
											<tbody class="list form-check-all">
												<tr th:each="company : ${companies.content}">
													<th scope="row">
														<div class="form-check">
															<input class="form-check-input" type="checkbox"
																name="chk_child" />
														</div>
													</th>

													<td>
														<a th:href="@{/management/clientDetail/{id}(id=${company.id})}"
															class="fw-medium link-primary"
															th:text="'COMP_' + ${company.id}">COMP_1</a>
													</td>

													<td>
														<span class="fw-medium"
															th:text="${company.companyName}">대리점명</span>
													</td>

													<td>
														<span th:text="${#lists.isEmpty(company.members.?[role.name() == 'CUSTOMER_REPRESENTATIVE']) ? '미지정' : company.members.?[role.name() == 'CUSTOMER_REPRESENTATIVE'][0].name}">
														    대표자명
														</span>

													</td>


													<td>
														<span
															th:text="${#temporals.format(company.createdAt, 'yyyy-MM-dd')}">2024-01-01</span>
													</td>

													<td>
														<span
															th:text="${company.salesManager?.name ?: '미지정'}">담당영업</span>
													</td>

													<td>
														<span th:text="${company.members?.size()} + '명'">0명</span>
													</td>
												</tr>
											</tbody>
										</table>
										<div class="noresult" style="display: none">
											<div class="text-center">
												<lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
													colors="primary:#121331,secondary:#08a88a"
													style="width:75px;height:75px"></lord-icon>
												<h5 class="mt-2">결과가 존재하지않습니다.</h5>
												<p class="text-muted mb-0">다른 조건으로 검색을 진행 해 주시기 바랍니다.</p>
											</div>
										</div>
									</div>
									<div class="d-flex justify-content-end mt-2">
										<div class="pagination-wrap hstack gap-2">
											<nav aria-label="navigation" style="text-align: center;">
												<ul class="pagination justify-content-center">
													<li class="page-item"
														th:classappend="${companies.first} ? 'disabled'">
														<a class="page-link"
															th:href="@{/management/clientList(page=0, searchType=${searchType}, keyword=${keyword})}">First</a>
													</li>
													<li class="page-item"
														th:classappend="${companies.first} ? 'disabled'">
														<a class="page-link"
															th:href="@{/management/clientList(page=${companies.number - 1}, searchType=${searchType}, keyword=${keyword})}">Previous</a>
													</li>
													<li class="page-item"
														th:each="pageNum : ${#numbers.sequence(0, companies.totalPages - 1)}"
														th:classappend="${companies.number == pageNum} ? 'active'">
														<a class="page-link"
															th:href="@{/management/clientList(page=${pageNum}, searchType=${searchType}, keyword=${keyword})}"
															th:text="${pageNum + 1}">1</a>
													</li>
													<li class="page-item"
														th:classappend="${companies.last} ? 'disabled'">
														<a class="page-link"
															th:href="@{/management/clientList(page=${companies.number + 1}, searchType=${searchType}, keyword=${keyword})}">Next</a>
													</li>
													<li class="page-item"
														th:classappend="${companies.last} ? 'disabled'">
														<a class="page-link"
															th:href="@{/management/clientList(page=${companies.totalPages - 1}, searchType=${searchType}, keyword=${keyword})}">Last</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="~{fragments/administration/common :: autoAdminFooter}"></footer>
		</div>
	</div>
	<th:block th:replace="~{fragments/administration/common :: autoAdminSetting}"></th:block>
	<th:block th:replace="~{fragments/administration/common :: authAdminScript}"></th:block>
</body>

</html>