<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="~{fragments/administration/common :: autoAdminHead}">
</head>

<body>

	<!-- Begin page -->
	<div id="layout-wrapper">

		<header th:replace="~{fragments/administration/common :: autoAdminHeader}"></header>

		<div th:replace="~{fragments/administration/common :: autoAdminModal}"></div>
		<div th:replace="~{fragments/administration/common :: autoAdminSideMenu}"></div>
		<div class="vertical-overlay"></div>
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="page-title-box d-sm-flex align-items-center justify-content-between">
								<h4 class="mb-sm-0">대리점 상세</h4>

								<div class="page-title-right">
									<ol class="breadcrumb m-0">
										<li class="breadcrumb-item"><a href="javascript: void(0);">대리점 관리</a></li>
										<li class="breadcrumb-item"><a href="javascript: void(0);">대리점 리스트</a></li>
										<li class="breadcrumb-item active">대리점 상세</li>
									</ol>
								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-6">
							<div class="card mb-3">
								<div class="card-body">

									<div class="table-card">
										<table class="table mb-0">
											<tbody>
												<tr>
													<td class="fw-medium">업체명</td>
													<td th:text="${company.companyName}"></td>
												</tr>
												<tr>
													<td class="fw-medium">적립금</td>
													<td th:text="${company.point} + 'P'"></td>
												</tr>
												<tr>
												    <td class="fw-medium">주소</td>
												    <td th:text="|${company.doName ?: ''} ${company.siName ?: ''} ${company.guName ?: ''} ${company.roadAddress ?: ''} ${company.detailAddress ?: ''}|"></td>
												</tr>
												<tr>
												    <td class="fw-medium">우편번호</td>
												    <td th:text="${company.zipCode ?: '없음'}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="card mb-3">
								<div class="card-body">

									<div class="table-card">
										<table class="table mb-0">
											<tbody>
												<tr>
													<td class="fw-medium">사업자등록증</td>
													<td>
														<a th:if="${company.businessLicenseUrl != null}"
															th:href="${company.businessLicenseUrl}"
															target="_blank">열람하기</a>
														<span th:if="${company.businessLicenseUrl == null}">없음</span>
													</td>
												</tr>
												<tr>
													<td class="fw-medium">등록일</td>
													<td
														th:text="${#temporals.format(company.createdAt, 'yyyy-MM-dd HH:mm')}">
													</td>
												</tr>
												<tr>
													<td class="fw-medium">대표자</td>
													<td
														th:text="${members.?[role.name() == 'CUSTOMER_REPRESENTATIVE']?.get(0)?.name ?: '없음'}">
													</td>
												</tr>
												<tr>
												    <td class="fw-medium">직원 수</td>
												    <td th:text="${members.size()} + '명'"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xxl-4 col-sm-6 project-card" th:each="member : ${members}">
							<div class="card">
								<div class="card-body">
									<!-- 카드 상단 영역 (타이틀 + 아이콘) -->
									<div class="p-3 mt-n3 mx-n3 bg-primary-subtle rounded-top">
										<div class="d-flex align-items-center">
											<div class="flex-grow-1">
												<h5 class="mb-0 fs-15">
													<a href="#" class="text-body" th:text="${member.name}">이름</a>
												</h5>
											</div>
											<div class="flex-shrink-0">
												<div class="d-flex gap-1 align-items-center my-n2">
													<div class="dropdown">
														<button
															class="btn btn-link text-muted p-1 mt-n1 py-0 text-decoration-none fs-15"
															data-bs-toggle="dropdown" aria-haspopup="true"
															aria-expanded="true">
															<i data-feather="more-horizontal" class="icon-sm"></i>
														</button>
														<div class="dropdown-menu dropdown-menu-end">
															<a class="dropdown-item" href="#" data-bs-toggle="modal"
																data-bs-target="#removeProjectModal">
																<i
																	class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
																접속금지
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- 카드 내용 -->
									<div class="py-3">
										<div class="row gy-3">
											<div class="col-6">
												<p class="text-muted mb-1">아이디</p>
												<h5 class="fs-14" th:text="${member.username}"></h5>
											</div>
											<div class="col-6">
												<p class="text-muted mb-1">연락처</p>
												<h5 class="fs-14" th:text="${member.phone}"></h5>
											</div>
											<div class="col-6">
												<p class="text-muted mb-1">이메일</p>
												<h5 class="fs-14" th:text="${member.email}"></h5>
											</div>
											<div class="col-6">
												<p class="text-muted mb-1">가입일</p>
												<h5 class="fs-14"
													th:text="${#temporals.format(member.createdAt, 'yyyy-MM-dd')}"></h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="~{fragments/administration/common :: autoAdminFooter}"></footer>
		</div>
	</div>


	<th:block th:replace="~{fragments/administration/common :: autoAdminSetting}"></th:block>
	<th:block th:replace="~{fragments/administration/common :: authAdminScript}"></th:block>
	<script src="/administration/assets/libs/dropzone/dropzone-min.js"></script>
	<script src="/administration/assets/js/pages/project-create.init.js"></script>
</body>

</html>