<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" data-layout="twocolumn" data-sidebar="light" data-sidebar-size="lg"
	data-sidebar-image="none" data-preloader="disable">

<head th:replace="~{fragments/administration/common :: autoAdminHead}">
</head>

<body class="twocolumn-panel">

	<!-- Begin page -->
	<div id="layout-wrapper">

		<header th:replace="~{fragments/administration/common :: autoAdminHeader}"></header>

		<div th:replace="~{fragments/administration/common :: autoAdminModal}"></div>
		<div th:replace="~{fragments/administration/common :: autoAdminSideMenu}"></div>
		<div class="vertical-overlay"></div>
		<div class="main-content">

			<div class="page-content">
				<div class="container-fluid">

					<div class="row">
						<div class="col">

							<div class="h-100">
							</div> 
						</div> 
					</div>
				</div>
			</div>

			<footer th:replace="~{fragments/administration/common :: autoAdminFooter}"></footer>
		</div>
	</div>


	<th:block th:replace="~{fragments/administration/common :: autoAdminSetting}"></th:block>
	<th:block th:replace="~{fragments/administration/common :: authAdminScript}"></th:block>
</body>

</html>