<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/front/common :: autoHead">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">


	<th:block th:replace="fragments/front/common :: autoLoader"></th:block>
	<th:block th:replace="fragments/front/common :: autoFooterMenu"></th:block>

	<div id="page" class="container">
		<th:block th:replace="fragments/front/common :: autoHeaderMenu"></th:block>
		<div class="page-content header-clear-medium">
			<div class="card card-style">
				<div class="content mt-0 mb-0">
					<div class="list-group list-custom-large list-icon-0">
						<a data-trigger-switch="smsSwitch" href="#">
							<i class="fa font-14 fa-envelope rounded-s color-blue-dark"></i>
							<span>문자 수신</span>
							<strong>문자 수신여부를 선택할 수 있습니다.</strong>
							<div class="custom-control scale-switch ios-switch">
								<input type="checkbox" class="ios-input" id="smsSwitch">
								<label class="custom-control-label" for="smsSwitch"></label>
							</div>
							<i class="fa fa-chevron-right opacity-30"></i>
						</a>
						<a data-trigger-switch="emailSwitch" href="#">
							<i class="fa-solid fa-square-envelope font-14 rounded-s color-blue-dark"></i>
							<span>이메일 수신</span>
							<strong>이메일 수신여부를 선택할 수 있습니다.</strong>
							<div class="custom-control scale-switch ios-switch">
								<input type="checkbox" class="ios-input" id="emailSwitch">
								<label class="custom-control-label" for="emailSwitch"></label>
							</div>
							<i class="fa fa-chevron-right opacity-30"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="card card-style">
				<div class="content mb-0">
					<h2>계정정보</h2>
					<p class="mb-4">
						아이디는 변경할 수 없습니다.
					</p>
					<div class="input-style input-style-always-active has-borders has-icon">
						<i class="fa fa-user font-12"></i>
						<input type="name" class="form-control" placeholder="성함">
						<label class="color-blue-dark font-13">성함</label>
						<em>(required)</em>
					</div>
					<div class="input-style input-style-always-active has-borders has-icon">
						<i class="fa-regular fa-building font-12"></i>
						<input type="name" class="form-control" placeholder="대리점명">
						<label class="color-blue-dark font-13">대리점명</label>
						<em>(required)</em>
					</div>

					<div class="input-style input-style-always-active has-borders has-icon mt-4">
						<i class="fa fa-map-marker font-12"></i>
						<input type="text" class="form-control" placeholder="주소">
						<label class="color-blue-dark font-13">주소</label>
						<em>(required)</em>
					</div>

					<div class="input-style input-style-always-active has-borders has-icon mt-4">
						<i class="fa fa-phone font-12"></i>
						<input type="text" class="form-control" placeholder="연락처">
						<label class="color-blue-dark font-13">연락처</label>
						<em>(required)</em>
					</div>

					<div class="input-style input-style-always-active has-borders has-icon mt-4">
						<i class="fa-solid fa-inbox font-12"></i>
						<input type="email" class="form-control" placeholder="이메일">
						<label class="color-blue-dark font-13">이메일</label>
						<em></em>
					</div>

					<div class="input-style input-style-always-active has-borders has-icon mt-4">
						<i class="fa-solid fa-fax font-12"></i>
						<input type="text" class="form-control" placeholder="팩스">
						<label class="color-blue-dark font-13">팩스</label>
						<em></em>
					</div>

					<a href="#"
						class="btn btn-full bg-green-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900">변경사항저장</a>
				</div>
			</div>
			<div class="card card-style">
				<div class="content mb-0">
					<h2>대리점코드</h2>
					<p class="mb-4">
						직원 등록시 대리점 코드 입력이 필수입니다.
					</p>
					<div class="input-style input-style-always-active has-borders has-icon">
						<i class="fa-solid fa-key font-12"></i>
						<input type="text" class="form-control" placeholder="대리점코드">
						<label class="color-blue-dark font-13">대리점코드</label>
					</div>
					<a href="#"
						class="btn btn-full bg-green-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900">코드생성</a>
				</div>
			</div>
			<div class="card card-style">
				<div class="content mb-0">
					<h2 class="mb-0">비밀번호</h2>
					<p class="mb-4">
						비밀번호 변경을 진행할 수 있습니다.
					</p>
					<div class="input-style input-style-always-active has-borders no-icon">
						<input type="password" class="form-control" placeholder="">
						<label class="color-blue-dark font-12">기존 비밀번호</label>
						<em>(required)</em>
					</div>
					<div class="input-style input-style-always-active has-borders no-icon ">
						<input type="password" class="form-control" placeholder="">
						<label class="color-blue-dark font-12">새로운 비밀번호</label>
						<em>(required)</em>
					</div>
					<div class="input-style input-style-always-active has-borders no-icon">
						<input type="password" class="form-control" placeholder="">
						<label class="color-blue-dark font-12">비밀번호 확인</label>
						<em>(required)</em>
					</div>
					<a href="#"
						class="btn btn-full bg-green-dark btn-m text-uppercase rounded-sm shadow-l mb-3 mt-4 font-900">Save
						Password</a>
				</div>
			</div>
		</div>
		<th:block th:replace="fragments/front/common :: autoBottomMenu"></th:block>
	</div>
	<th:block th:replace="fragments/front/common :: autoSideBar"></th:block>
	<th:block th:replace="fragments/front/common :: autoScript"></th:block>
</body>

</html>