<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/front/common :: autoHead">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">


	<th:block th:replace="fragments/front/common :: autoLoader"></th:block>
	<th:block th:replace="fragments/front/common :: autoFooterMenu"></th:block>

	<div id="page" class="container">
		<th:block th:replace="fragments/front/common :: autoHeaderMenu"></th:block>
		<div class="page-content header-clear-medium">
			<div class="card card-style">
				<div class="content">
					<div class="memberList-wrap">
						<h2>성함 : A</h2>
						<p>
							가입일 : 2024.01.01 12:11:59
						</p>
						<p>
							최근접속일 : 2024.01.01 12:11:59
						</p>
						<p>
							연락처 : 010-1234-1234
						</p>
						<p>
							팩스 : 010-1234-1234
						</p>
						<p>
							이메일 : email@naver.com
						</p>
					</div>
					<div class="memberList-btn-wrap">
						<a href="#" class="call-btn default-link btn btn-sm"><i class="fa-solid fa-phone"></i>전화걸기</a>
						<a href="/memberManager" class="detail-btn default-link btn btn-sm"><i
								class="fa-solid fa-circle-info"></i>상세정보</a>
					</div>
				</div>
			</div>
			<div class="card card-style">
				<div class="content">
					<div class="memberList-wrap">
						<h2>성함 : A</h2>
						<p>
							가입일 : 2024.01.01 12:11:59
						</p>
						<p>
							최근접속일 : 2024.01.01 12:11:59
						</p>
						<p>
							연락처 : 010-1234-1234
						</p>
						<p>
							팩스 : 010-1234-1234
						</p>
						<p>
							이메일 : email@naver.com
						</p>
					</div>
					<div class="memberList-btn-wrap">
						<a href="#" class="call-btn default-link btn btn-sm"><i class="fa-solid fa-phone"></i>전화걸기</a>
						<a href="/memberManager" class="detail-btn default-link btn btn-sm"><i
								class="fa-solid fa-circle-info"></i>상세정보</a>
					</div>
				</div>
			</div>
			<div class="card card-style">
				<div class="content">
					<div class="memberList-wrap">
						<h2>성함 : A</h2>
						<p>
							가입일 : 2024.01.01 12:11:59
						</p>
						<p>
							최근접속일 : 2024.01.01 12:11:59
						</p>
						<p>
							연락처 : 010-1234-1234
						</p>
						<p>
							팩스 : 010-1234-1234
						</p>
						<p>
							이메일 : email@naver.com
						</p>
					</div>
					<div class="memberList-btn-wrap">
						<a href="#" class="call-btn default-link btn btn-sm"><i class="fa-solid fa-phone"></i>전화걸기</a>
						<a href="/memberManager" class="detail-btn default-link btn btn-sm"><i
								class="fa-solid fa-circle-info"></i>상세정보</a>
					</div>
				</div>
			</div>
		</div>
		<th:block th:replace="fragments/front/common :: autoBottomMenu"></th:block>
	</div>
	<th:block th:replace="fragments/front/common :: autoSideBar"></th:block>
	<th:block th:replace="fragments/front/common :: autoScript"></th:block>
</body>

</html>