<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/front/common :: autoHead}">
</head>

<body class="theme-light" data-highlight="highlight-red" data-gradient="body-default">


	<th:block th:replace="~{fragments/front/common :: autoLoader}"></th:block>
	<th:block th:replace="~{fragments/front/common :: autoFooterMenu}"></th:block>
	
	<div id="page" class="container">
		<th:block th:replace="~{fragments/front/common :: autoHeaderMenu}"></th:block>

		<div class="page-content header-clear-medium">
			<div class="card card-style web-mb-5">
				<div class="content web-mb-5">
					<div id="auto-calendar"></div>
				</div>
			</div>
			<th:block th:replace="~{fragments/front/common :: autoFooter}"></th:block>
		</div>
		<th:block th:replace="~{fragments/front/common :: autoBottomMenu}"></th:block>
	</div>
	<th:block th:replace="~{fragments/front/common :: autoSideBar}"></th:block>
	<!-- Modal -->
	<div id="auto-modal" class="auto-modal">
		<div class="auto-modal-content">
			<span id="auto-close">&times;</span>
			<h3 id="auto-modal-title"></h3>
			<div id="auto-modal-body"></div>
		</div>
	</div>
	
	<th:block th:replace="~{fragments/front/common :: autoScript}"></th:block>
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
	<script src="/front/calendar.js"></script>
	
</body>
</html>